<aside class="sidebar collapsed">
  <div class="logo">Tecnoven</div>
  <ul class="sidebar-menu">
    <li>
      <a href="/dashboard">
        <i class="fa-solid fa-gauge"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/canales">
        <i class="fa-solid fa-tv"></i>
        <span>Canales</span>
      </a>
    </li>
    <li>
      <a href="/registerCanal">
        <i class="fa-solid fa-plus-square"></i>
        <span>Registrar Canal</span>
      </a>
    </li>
    <li>
      <a href="/registerUsuario">
        <i class="fa-solid fa-user-plus"></i>
        <span>Registrar Usuario</span>
      </a>
    </li>
    <li>
      <a href="/usuarios">
        <i class="fa-solid fa-user"></i>
        <span>Usuarios</span>
      </a>
    </li>
    <li>
      <a href="/alerts">
        <i class="fa-solid fa-file-lines"></i>
        <span>Reportes</span>
      </a>
    </li>
    <li>
      <a href="/configuracion">
        <i class="fa-solid fa-gears"></i>
        <span>Configuración</span>
      </a>
    </li>
    <li>
      <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Cerrar Sesion</span>
      </a>
    </li>
  </ul>
</aside>
